<h3>Interaktywne technologie sieciowe <span class="label label-primary">2021z</span></h3>

<form class="form form-inline">

    <span ng-bind="ctrl.project"></span>

    <select class="form-control" ng-model="ctrl.project">
        <option ng-model="ctrl.project" ng-repeat="project in ctrl.projects">{{ project.shortName }}</option>
    </select>
</form>